{% extends 'base_template_for_admin.html' %}
{% block title %}
    Login
    {% endblock %}

{% block content %}

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">My Blog Post</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="blog" class="w3-bar-item w3-button">View Blog Post</a>
      <a href="signup" class="w3-bar-item w3-button">Sign up</a>
    </div>
  </div>
</div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Login</h1><br>
      <!--
    <form action="/login" method="POST">
      <p><input class="w3-input w3-padding-16" type="email" placeholder="Email address" name="admin_email"></p>
      <p><input class="w3-input w3-padding-16" type="Password" placeholder="Password" name="admin_password"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">Login</button></p>
    </form>
    -->

 <form action="/login" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email(size=32, class_='w3-input w3-padding-16', placeholder="Email") }}
    </p>
    <p>
        {{ form.password(size=32, class_='w3-input w3-padding-16' , placeholder="password") }}
    </p>
    <p>
        {{ form.submit(class_='w3-button w3-light-grey w3-section' ) }}
    </p>
</form>
  </div>

<!-- End page content -->
</div>
{% endblock %}